body {
  background-color: #e6e6e6;
}
.jumbtron {
  background-color: #f1dfb7;
}
.sidebar {
  background-color: #98ba92;
  float:left;
  margin-left: -50px;
  padding-bottom: 100%;
  padding-right: 300px;

}
.enterNumber {
  float: right;
}
h1 {
  text-align: center;
  font-size: 75px;
}
.
